{% load spelling_extra %}
{% block content %}
<style>
  body { color : grey; }
  a { color : black; text-decoration:none; }
  a:hover { color : blue; }
</style>


<b>Choose a file</b>

    <ul>
  {% for file in files %}
        <li>
        <a href="/showtext/big/{{file|first}}">{{file|second}}</a> <small>{{file|third}}</small>
        {% if file|first == "SkaL" or file == "Mar26SLundversion" %}
          <small><a href="/showtext/small/{{file}}">manual rules</a></small>
          <small><a href="/showtext/medium/{{file}}">one-to-one rules</a></small>
        {% endif %}
        </li>
  {% endfor %}
    </ul>
    
{% endblock %}
